/*
BLOCKQUOTE STYLES
- Description: Quotes, messages, callouts, etc.
______________________________________________________________________*/

.eh-msg {
  border: solid 2px;
  padding: .6rem;
  border-radius: .3rem;
  margin: 1rem 2rem 2rem 2rem;
}

.error {
  color: brown;
  background: pink;
}