/*
STYLES FOR:  EmbedPress Plugin
*/

/* Responsive Rumble Vids */
/* 
HEPPERLE - Changed 7/5/23 based on support rep hack 
*/
.ose-rumble\.com.ose-embedpress-responsive {
  position: relative;
  width: 100%;
  height: 0 !important;
  padding-bottom: 56.25%;

}
.ose-rumble\.com.ose-embedpress-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
}